/*
style sheet
*/

/*
x Center the main heading
x Add a style to change the color of the headers on your page and make them underlined.
x Add a style to change the background color of the page.
x Add a style to add a background image to your background. Search how to manipulate the position, sizing of this background image.
x Add a style to change the list-style to something other than the default bullet.
x Add a style to change the font for the entire page. Use google fonts if you would like.
x Add a style to change the table, table cells td and rows tr padding and font sizes.
x Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).
Continue experimenting with styles to increase the visual appeal of the page.

font-family: 'Ultra', serif;
font-family: 'Crimson Text', serif;

*/
body{


    /*background-size: cover;*/
    /*background-position:center;*/
    /*background-attachment: fixed;*/
    background-image: url(../img/pg_bkground_1.jpeg);
    background-attachment: fixed;
    font-family: 'Crimson Text', serif;
    color: #aaa;

}
main {

    align-content: center;
    margin-top: 10px;
    padding-top: 200px;


}

h1, h2, h3, h4, h5, h6 {

    color: #669395;
    font-family: 'Ultra', serif;
    font-weight: 100 ;
    
}



header {

    background-color: #24292e;
    padding: 25px;
    width: 100%;
    text-align: center;
    float: left;
    /*position: relative;*/
    top: -10px;
    position: fixed;
    z-index: 1;

}

ul, ol {

    list-style: none;

}



td, th, table{
    background-color: #24292e;
    border:  #24292e 10px solid;
    /*alignment: center;*/

    margin-left: auto;
    margin-right: auto;
    /*border-style:  ;*/

}

hr{

    clear: both;

}

img{

    float: left;
    width: 38%;
    margin: 5%;
    border: #666666 solid 5px;

}

article, aside{

    color: #666;
    background-color: #24292e;
    text-align: center ;
    clear: both;
    size: 100px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;

}
footer {

    background-color: #24292e;
    width: 100%;

}

div:hover {

    opacity: 1;

}

.fancy-header{
    /* color: #24292e; */
    text-decoration: wavy underline;
    font-size: 2em;
    text-align: center;
    /*position: fixed;*/

}

.main_section{
    background-color: #24292e;
    width: 29%;
    padding: 1%;
    margin: 1%;
    opacity: 0.8;
    float: left;
    text-align: center;
    border: ThreeDDarkShadow;

}

.main_section:hover {

    opacity: 1;

}

#top-o-main {

    /*background-color: crimson;*/
    width: 100%;
    height: 300px;


}



#first_main{

    /*margin-left: 175px;*/

}

#last_main{

    float: right;

}

#image-container{

    width: 100%;
    position: center;

}


a {

    text-decoration: none;
    color: #666;
    background-color: #24292e;
    border: 10px groove #666;
}

a:hover {

    color: #aaaaaa;
    /*font-size: 2em;*/

}

a:active{

    border: 10px inset #666;

}

td:hover{

    opacity: 0.5;

}

th:hover {

    /*background-color: yellowgreen;*/
    border: #666 10px inset;

}